#iframe-area{
	
}
.iframe-bor-bottom{
    border-bottom: 1px solid #cccccc;
    position: relative;
	margin-left:-20px;
}
.iframe-header-lists{
    margin-right: 110px;
    position: relative;
    overflow: hidden;
    margin-bottom: -1px;
}
.iframe-header-lists .iframe-hr-bor{
    height: 33px;
    /*border-bottom: 1px solid #cccccc;*/
}
#iframe-area .iframe-btn-page{
    width: 90px;
    height: 32px;
    position: absolute;
    top:0;
    right: 20px;
    z-index: 999;
}
#iframe-area .iframe-btn-page div{
    width: 20px;
    height: 30px;
    line-height: 20px;
    float: left;
    color: #cccccc;
    font-size: 14px;
    cursor: pointer;
}
#iframe-area .iframe-btn-page div.iframe-prev-btn{
    text-align: left;
}
#iframe-area .iframe-btn-page div.iframe-next-btn{
    text-align: right;
}
#iframe-area .iframe-btn-page div:hover{
    color: #ed1111;
}
.iframe-header-lists ul.btn-list{
    margin-bottom: 0;
    height: 33px;
}
.btn-list{
    position: absolute;
    top: 0;
    left: 0px;
    padding-left: 10px;
    min-width: 400px;
    z-index: 10;
}
.btn-list li:before,.btn-list li:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.btn-list li:after{clear:both}
.btn-list li{zoom:1}
.btn-list .btn-lier{
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #cccccc;
    float: left;
    margin: 0 15px;
    background-color: #f8f8f8;
}
.btn-list .btn-lier.focus{
    background-color: #ffffff;
}/*
.btn-list .btn-lier.focus .remove{
    background-color: #ffffff;
}*/
.btn-list li .tab-title{
    float: left;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
}
.btn-list li.focus .tab-title{
    height: 32px;
    line-height: 32px;
}
.btn-list li.focus .tab-title:after{
    content:'.';
    display:block;
    position: absolute;
    height: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 8px solid #ffffff;
}
.btn-list li .tab-curves{
    height: 0px;
    width: 100%;
    position: relative;
}
.btn-list li .tab-curves div{
    position: absolute;
    height: 33px;
    width: 23px;

}
.btn-list li .tab-curves div.tab-curves-left{
    top:-1px;
    left: -23px;
    z-index: 11;border-bottom: 1px solid #cccccc;
    background: url("../images/tab-curves-left-link.png") right top no-repeat;
}
.btn-list li .tab-curves div.tab-curves-right{
    top:-1px;
    right: -23px;
    z-index: 11;border-bottom: 1px solid #cccccc;
    background: url("../images/tab-curves-right-link.png") left top no-repeat;
}
.btn-list li.focus .tab-curves div.tab-curves-left{
    top:-1px;
    left: -23px;
    z-index: 99;border-bottom: 1px solid #ffffff;
    background: url("../images/tab-curves-left-hover.png") right top no-repeat;
}
.btn-list li.focus .tab-curves div.tab-curves-right{
    top:-1px;
    right: -23px;
    z-index: 99;border-bottom: 1px solid #ffffff;
    background: url("../images/tab-curves-right-hover.png") left top no-repeat;
}
.btn-list .btn-lier .remove{
    height: 32px;
    line-height: 32px;
    width: 10px;
    color: #cccccc;
    cursor: pointer;
    float: left;
    position: relative;
	background:url("../images/if-remove-x-link.png") center center no-repeat;
}
.btn-list .btn-lier .remove:hover{
    color: #ed1111;
	background:url("../images/if-remove-x-hover.png") center center no-repeat;
}
.btn-list li.focus .remove:after{
    content:'.';
    display:block;
    position: absolute;
    height: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 10px solid #ffffff;
}
.modle{ width: 100%; border: none; background-color: #fff;}
.content-list{ position: relative;}
.content-lier{ position: absolute; left:0; top:0; width: 100%;}
#iframe-area .iframe-btn-page div.iframe-nav-list{
	float:right;
    line-height: 17px;
}
.iframe-nav-list button.dropdown-toggle{
	border:none;
	background:none;
}
.iframe-nav-list .dropdown-menu{
	left:auto;
	right:0;
}
