<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title> 官网- UI</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="../static/images/ico/51points.ico">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.css">
    <link href="../static/frame/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../static/frame/datetimepicker/js/jquery-ui.css" rel="stylesheet">
    <link href="../static/frame/datetimepicker/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/jQuery-2.1.4.min.js" type="text/javascript"></script>
    <script src="../static/frame/datetimepicker/js/jquery-ui.js" type="text/javascript"></script>
    <script src="../static/frame/datetimepicker/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="../static/frame/datetimepicker/js/jquery.ui.datepicker-zh-CN.js.js" type="text/javascript"></script>
    <script src="../static/frame/datetimepicker/js/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script>
    <script src="../static/js/validator/dome.js" type="text/javascript"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 class="page-header">
        输入框
    </h1>
    <div class="bs-example">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label ps-control-label">正常状态</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-lg"  placeholder="正常状态">
                            <span class="help-block mtb0">正常状态</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label ps-control-label"><span class="ps-star">*</span>焦点状态</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-lg"  placeholder="焦点状态">
                            <span class="help-block mtb0">焦点正在输入状态</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label ps-control-label">校验出错</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-lg ps-form-control-warning"  value="校验结果出错" placeholder="校验出错">
                            <span class="help-block mtb0">校验结果出错</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label ps-control-label">校验正确</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-lg ps-form-control-success"  value="校验结果正确" placeholder="校验正确">
                            <span class="help-block mtb0">校验结果正确</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label ps-control-label">正常状态</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-sm datetimepicker"  placeholder="正常状态">
                            <span class="help-block mtb0">正常状态</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label ps-control-label"><span class="ps-star">*</span>焦点状态</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-sm"  placeholder="焦点状态">
                            <span class="help-block mtb0">焦点正在输入状态</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label ps-control-label">校验出错</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-sm ps-form-control-warning" value="校验结果出错" placeholder="校验出错">
                            <span class="help-block mtb0">校验结果出错</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label ps-control-label">校验正确</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control ps-form-control-sm ps-form-control-success" value="校验结果正确" placeholder="校验正确">
                            <span class="help-block mtb0">校验结果正确</span>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
    <highlight class="highlight">
        <pre></pre>
    </highlight>
    <h1 class="page-header">
        按钮
    </h1>
    <div class="bs-example">
        <div class="row mb30">
            <div class="col-sm-4">
                <a href="#" class="btn ps-btn-lg ps-btn-yellow">Button 重要 Normal</a>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn ps-btn-lg ps-btn-darkgrey">Button Normal正常</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn ps-btn-lg ps-btn-lightgrey">Disable Normal</button>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="btn ps-btn-sm ps-btn-yellow">Button 重要 Normal</a>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn ps-btn-sm ps-btn-darkgrey">Button Normal正常</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn ps-btn-sm ps-btn-lightgrey">Disable Normal</button>
            </div>

        </div>
    </div>
    <highlight class="highlight">
        <pre></pre>
    </highlight>
    <h1 class="page-header">
        文字展示
    </h1>
    <div class="bs-example">
        <div class="row mb30">
            <div class="col-sm-4">
                <div class="ps-text-bgred">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna wirl aliqua. Up exlaborum incididunt.一大段文字
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ps-text-bgdarkgrey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna wirl aliqua. Up exlaborum incididunt.一大段文字
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ps-text-bglightgrey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna wirl aliqua. Up exlaborum incididunt.一大段文字
                </div>
            </div>

        </div>

    </div>
    <highlight class="highlight">
        <pre></pre>
    </highlight>
</div>
</body>
</html>