@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lo2j61');
  src:  url('fonts/icomoon.eot?lo2j61#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lo2j61') format('truetype'),
    url('fonts/icomoon.woff?lo2j61') format('woff'),
    url('fonts/icomoon.svg?lo2j61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-75:before {
  content: "\e90e";
}
.icon-Group-77:before {
  content: "\e90f";
}
.icon-Path-127:before {
  content: "\e910";
}
.icon-Path-128:before {
  content: "\e911";
}
.icon-Path-130:before {
  content: "\e912";
}
.icon-Path-131:before {
  content: "\e913";
}
.icon-right-arrow:before {
  content: "\e914";
}
.icon-Group-16:before {
  content: "\e900";
}
.icon-Group-62:before {
  content: "\e901";
}
.icon-Group-63:before {
  content: "\e902";
}
.icon-Group-64:before {
  content: "\e903";
}
.icon-Group-65:before {
  content: "\e904";
}
.icon-Group-66:before {
  content: "\e905";
}
.icon-Group-67:before {
  content: "\e906";
}
.icon-Group-68:before {
  content: "\e907";
}
.icon-Group-69:before {
  content: "\e908";
}
.icon-Group-70:before {
  content: "\e909";
}
.icon-Group-71:before {
  content: "\e90a";
}
.icon-Group-72:before {
  content: "\e90b";
}
.icon-Group-73:before {
  content: "\e90c";
}
.icon-Path-124:before {
  content: "\e90d";
}
