.game-loginbg{
    width: 100%;
    height: 100%;
    background: url("../../images/game/game-loginbg.jpg");
    background-size: cover;
    position: relative;
}
.game-content{
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:250px;
    height: 270px;
}
.game-contentbtn button{
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    background-image:linear-gradient(-90deg,#f7336a,#ff7428);
}
.game-contentBox ul li{
    height: 67px;
    border-bottom: 1px solid #ccc;
    position: relative;

}
.game-contentBox ul li input{
    background: none;
    outline: none;
    font-size: 20px;
    width: 140px;
    position: absolute;
    bottom: 12px;
    left: 40px;

}
.game-contentBox ul li input::placeholder{
    color: #dcdcdc;
}
.game-contenticon{
    width: 35px;
    height: 48px;
    position: absolute;
    bottom: 0;
}
.game-contenticon img{
    width: 60%;
    position: absolute;
    bottom: 15px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .game-content{
        top: 250px;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px){
    .game-content{
        top: 300px;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px){
    .game-content{
        top: 350px;
    }
}