

/*iPhone 6 and iPhone 6+ landscape}*/
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px)
and (orientation : landscape){
    .table-box table{
        width: auto;
    }
    .custom-tab{
        overflow-x: auto;
    }
    .custom-tab .nav-tabs .nav-tabs-name{
        display: none;
    }
    .custom-tab .nav-tabs{
        width: auto;
    }
}
/**
 *  iPad 3/4 landscape
 */@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .table-box table{
        width: auto;
    }
}


.table-box{
    overflow: auto;
}
.searchform input{
    width: 180px;
}
.notification-menu{
    padding-left: 0;
    margin-bottom: 0;
}


.panel-heading.custom-tab {
    padding: 8px 15px 0 15px;
}
.panel-heading .nav{
    margin: 0;
}
.custom-tab ul > li > a{
    padding: 10px 15px !important;
}
.panel-heading .nav > li:first-child.active > a, .panel-heading .nav > li:first-child > a:hover
,.panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover{
    border-radius: 4px 4px 0 0 !important;
    -webkit-border-radius: 4px 4px 0 0 !important;
}
.panel-body .tab-content .active .custom-tab,.panel-body .tab-content .active .panel-body{
    margin-left: -15px;
    margin-right: -15px;
}
.help-block{
    display: none;
}
.state-info-box .summary{
    text-align: right;
}
.josiny-panel{
    border-bottom: 1px solid #d9d9d9;
    box-shadow:none;
    border-radius: initial;
}
.img-modal-line{
    position: relative;
}
.img-modal-line:after{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.bottom-line{
    position: relative;
}
.bottom-line:after{
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.left-line{
    position: relative;
}
.left-line:before{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.right-line{
    position: relative;
}
.right-line:after{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.tabs-box{
    margin-left: -20px;
    margin-right: -20px;
}
.p-t-sm{
    padding-top: 20px;
}
.p-b-sm{
    padding-bottom: 20px;
}
.p-l-0{
    padding-left: 0;
}







